#Backpropagation - Norman Vicente

<img src="https://miro.medium.com/max/2000/1*LB10KFg5J7yK1MLxTXcLdQ.jpeg" />

In [26]:
import numpy as np
import pandas as pd

In [111]:
def activation(x):
    return 1/(1 + np.exp(-x))

def dx(x):
    return np.multiply(x , (1 - x))

In [112]:
entries = np.matrix([[1,1,1],[1,0,1],[0,1,1],[0,0,1]])
y_true = np.array([[1],[0],[1],[0]])

In [113]:
hidden_weights = np.random.randn(3,3)*np.sqrt(1/3)
output_weights = np.random.uniform(size=(3,1))

In [114]:
def backprop(epochs,lr,inputs,hidd_lay,output_weights,y_true):
    arrayIters = []
    arrayError = []
    predictions = 0
    i=0
    while i < epochs:
        activation_hidden = np.dot(inputs,hidd_lay)
        hidden_layer_output = activation(activation_hidden)
        output_layer_activation = np.dot(hidden_layer_output,output_weights)
        predicted_output = activation(output_layer_activation)
        predictions = predicted_output
        #error
        error = y_true - predicted_output

        d_predicted_output = np.multiply(error , dx(predicted_output))
        error_hidden_layer = d_predicted_output.dot(output_weights.T) 
        
        #hidden layers
        d_hidden_layer = np.multiply(error_hidden_layer , dx(hidden_layer_output))
        output_weights += hidden_layer_output.T.dot(d_predicted_output) * lr
        hidd_lay += inputs.T.dot(d_hidden_layer) * lr

        arrayIters.append(i)
        arrayError.append(error.flatten())
        i=i+1

    log = pd.DataFrame({'Iter':arrayIters, 'Errores': arrayError })
    return log, predicted_output

#Experimento I

In [115]:
df, preds = backprop(100,0.1,entries,hidden_weights,output_weights,y_true)

##Error en iteraciones

In [116]:
df

    Iter                                            Errores
0      0  [[[[[ 0.39037024 -0.6568229   0.3999581  -0.64...
1      1  [[[[[ 0.39320454 -0.65324051  0.40209049 -0.64...
2      2  [[[[[ 0.39601029 -0.64968794  0.40420252 -0.63...
3      3  [[[[[ 0.39878688 -0.64616631  0.40629379 -0.63...
4      4  [[[[[ 0.40153374 -0.64267667  0.40836393 -0.63...
..   ...                                                ...
95    95  [[[[[ 0.53218901 -0.46956167  0.51051409 -0.48...
96    96  [[[[[ 0.53271467 -0.46878648  0.51095581 -0.48...
97    97  [[[[[ 0.53322972 -0.46802423  0.51138918 -0.48...
98    98  [[[[[ 0.53373437 -0.46727464  0.51181436 -0.48...
99    99  [[[[[ 0.53422882 -0.46653743  0.51223151 -0.48...

[100 rows x 2 columns]

In [146]:
print("y Pred:",preds.T, "y True:", y_true.T)

y Pred: [[0.72797628 0.73758299 0.82010612 0.82245982]] y True: [[1 0 1 0]]

#Experimento II

In [118]:
hidden_weights = np.random.randn(3,3)*np.sqrt(1/2)
output_weights = np.random.uniform(size=(3,1))
df, preds = backprop(100,0.001,entries,hidden_weights,output_weights,y_true)

In [119]:
df

    Iter                                            Errores
0      0  [[[[[ 0.29832647 -0.67168273  0.26408861 -0.70...
1      1  [[[[[ 0.29835905 -0.6716537   0.26412137 -0.70...
2      2  [[[[[ 0.29839162 -0.67162468  0.26415413 -0.70...
3      3  [[[[[ 0.29842419 -0.67159566  0.26418688 -0.70...
4      4  [[[[[ 0.29845675 -0.67156665  0.26421964 -0.70...
..   ...                                                ...
95    95  [[[[[ 0.30140048 -0.66894608  0.26718422 -0.70...
96    96  [[[[[ 0.30143261 -0.66891749  0.26721662 -0.70...
97    97  [[[[[ 0.30146474 -0.66888892  0.26724902 -0.70...
98    98  [[[[[ 0.30149686 -0.66886034  0.26728141 -0.70...
99    99  [[[[[ 0.30152898 -0.66883177  0.2673138  -0.70...

[100 rows x 2 columns]

In [136]:
preds.T

matrix([[0.72797628, 0.73758299, 0.82010612, 0.82245982]])

In [145]:
print("y Pred:",preds.T, "y True:", y_true.T)

y Pred: [[0.72797628 0.73758299 0.82010612 0.82245982]] y True: [[1 0 1 0]]

#Experimento III

In [121]:
hidden_weights = np.random.randn(3,3)*np.sqrt(1/5)
output_weights = np.random.uniform(size=(3,1))
df, preds = backprop(100,0.001,entries,hidden_weights,output_weights,y_true)

In [122]:
df

    Iter                                            Errores
0      0  [[[[[ 0.31306652 -0.67811268  0.31305676 -0.67...
1      1  [[[[[ 0.31309709 -0.67808072  0.31308716 -0.67...
2      2  [[[[[ 0.31312766 -0.67804876  0.31311755 -0.67...
3      3  [[[[[ 0.31315822 -0.6780168   0.31314794 -0.67...
4      4  [[[[[ 0.31318878 -0.67798485  0.31317833 -0.67...
..   ...                                                ...
95    95  [[[[[ 0.31595468 -0.67509287  0.31593004 -0.67...
96    96  [[[[[ 0.31598491 -0.67506127  0.31596013 -0.67...
97    97  [[[[[ 0.31601514 -0.67502966  0.31599021 -0.67...
98    98  [[[[[ 0.31604536 -0.67499806  0.31602029 -0.67...
99    99  [[[[[ 0.31607558 -0.67496647  0.31605037 -0.67...

[100 rows x 2 columns]

In [144]:
print("y Pred:",preds.T, "y True:", y_true.T)

y Pred: [[0.72797628 0.73758299 0.82010612 0.82245982]] y True: [[1 0 1 0]]

#Experimento IV

In [130]:
hidden_weights = np.random.randn(3,3)*np.sqrt(3)
output_weights = np.random.uniform(size=(3,1))
df, preds = backprop(150,0.005,entries,hidden_weights,output_weights,y_true)

In [131]:
df

     Iter                                            Errores
0       0  [[[[[ 0.23757731 -0.77289754  0.14666076 -0.85...
1       1  [[[[[ 0.23779684 -0.77267345  0.14686314 -0.85...
2       2  [[[[[ 0.23801656 -0.77244917  0.14706579 -0.85...
3       3  [[[[[ 0.23823644 -0.7722247   0.14726872 -0.85...
4       4  [[[[[ 0.2384565  -0.77200004  0.14747194 -0.85...
..    ...                                                ...
145   145  [[[[[ 0.27105917 -0.73857576  0.17892306 -0.82...
146   146  [[[[[ 0.27130014 -0.73832776  0.17916538 -0.82...
147   147  [[[[[ 0.27154122 -0.73807963  0.17940796 -0.82...
148   148  [[[[[ 0.27178241 -0.73783138  0.17965079 -0.82...
149   149  [[[[[ 0.27202372 -0.73758299  0.17989388 -0.82...

[150 rows x 2 columns]

In [147]:
print("y Pred:",preds.T, "y True:", y_true.T)

y Pred: [[0.72797628 0.73758299 0.82010612 0.82245982]] y True: [[1 0 1 0]]

#Experimento V

In [127]:
hidden_weights = np.random.randn(3,3)*np.sqrt(2/1)
output_weights = np.random.uniform(size=(3,1))
df, preds = backprop(150,0.005,entries,hidden_weights,output_weights,y_true)

In [128]:
df

     Iter                                            Errores
0       0  [[[[[ 0.38963699 -0.58626785  0.38668824 -0.57...
1       1  [[[[[ 0.38964865 -0.58624351  0.38667674 -0.57...
2       2  [[[[[ 0.3896603  -0.58621919  0.38666524 -0.57...
3       3  [[[[[ 0.38967194 -0.58619488  0.38665373 -0.57...
4       4  [[[[[ 0.38968356 -0.58617058  0.3866422  -0.57...
..    ...                                                ...
145   145  [[[[[ 0.39121111 -0.58285149  0.38493043 -0.57...
146   146  [[[[[ 0.39122117 -0.58282868  0.38491769 -0.57...
147   147  [[[[[ 0.39123122 -0.58280589  0.38490494 -0.57...
148   148  [[[[[ 0.39124126 -0.5827831   0.38489218 -0.57...
149   149  [[[[[ 0.39125129 -0.58276033  0.38487942 -0.57...

[150 rows x 2 columns]

In [148]:
print("y Pred:",preds.T, "y True:", y_true.T)

y Pred: [[0.72797628 0.73758299 0.82010612 0.82245982]] y True: [[1 0 1 0]]

##Conclusiones

- Me parece bien que podamos implementar estos algoritmos por lo menos una vez a mano ya que podemos entender mejor como es que funcionan ya que son conceptos fundamentales en deep learning
- El experimento #3 fue el que mejor estuvo en cuanto a las predicciones